/* @import url('https://db.onlinewebfonts.com/c/20e9fce1ca54ce1d7b7a7329de9bdaef?family=Gistesy'); */
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* sections*/
  .section-container {
    @apply py-16 px-5 md:px-[10%] 2xl:px-[20%] 2xl:my-[3%] font-franklin;
  }
  .title-container {
    @apply flex items-center justify-center py-2 md:py-5;
  }
  .sectionTitle {
    @apply text-2xl xl:text-3xl 2xl:text-4xl font-semibold;
  }
  .TermsContainer {
    @apply pb-16 pt-20 px-5 md:px-[10%] font-franklin;
  }
  /* Buttons */
  .button1 {
    @apply border-2 border-greenColor hover:bg-darkGreenColor hover:border-darkGreenColor hover:text-white rounded-3xl py-1 px-3 sm:px-5 text-xs sm:text-sm lg:text-base tracking-wide;
  }
  .button2 {
    @apply border-[3px] border-gray-100 hover:bg-white hover:border-darkGreenColor hover:text-darkGreenColor hover:shadow-xl rounded-3xl py-1 px-5 text-sm lg:text-base tracking-wide font-semibold shadow-md;
  }
  /* About Section */
  .aboutUsText {
    @apply space-y-5 leading-loose tracking-wide;
  }
  .groupSection-container {
    @apply grid lg:grid-cols-2 gap-5 lg:gap-8;
  }
  /* Services */
  .tiles-container {
    @apply flex flex-col md:grid grid-flow-row grid-cols-2 gap-8 lg:gap-16 xl:gap-20 items-center justify-center py-10 lg:py-16 xl:py-20 pb-10 space-y-5 md:space-y-0 rounded-md;
  }
  .serviceTiles {
    @apply flex flex-col h-full w-full items-center justify-between py-4 px-3 text-white text-center space-y-3;
  }
  .serviceImage {
    @apply mb-3 h-16 md:h-20 xl:h-28 w-auto;
  }
  .serviceTitle {
    @apply xl:text-lg font-semibold;
  }
  .servicePrice {
    @apply text-xs lg:text-sm xl:text-base font-light;
  }
  /* Team Section */
  .TeamInfo-container {
    @apply flex flex-col items-center justify-center p-4 rounded-lg h-20 mx-[10%] text-gray-800;
  }
  .TeamName {
    @apply md:text-lg xl:text-xl font-bold;
  }
  .TeamJob {
    @apply text-xs md:text-sm xl:text-base font-semibold;
  }
  .TeamCedula {
    @apply text-[8px] md:text-[10px];
  }
  .TeamImageBox {
    @apply relative -top-[50px] sm:-top-[69px] md:-top-24 lg:-top-16;
  }
  /* Quote Section */
  .quoteIcon {
    @apply h-6 w-6 md:h-8 md:w-8;
  }
  .quote-container {
    @apply py-3 space-y-3 tracking-wide;
  }
  /* Appointments Section */
  .formInput {
    @apply px-2 pt-2 border-b border-gray-300;
  }
  /* Where we are */
  .whereWeAre-box {
    @apply w-full shadow-md rounded-lg bg-greenColor/5 p-5 py-10 space-y-3;
  }
  /* Footer */
  .contactInfoDiv {
    @apply flex items-center text-[10px] space-x-2;
  }
}

@layer utilities {
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: url('../public/wave.png');
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
  }
  .wave#wave1 {
    z-index: 3;
    opacity: 1;
    background-position-x: 400px;
  }
  .wave#wave2 {
    z-index: 2;
    opacity: 0.5;
    background-position-x: 300px;
  }
  .wave#wave3 {
    z-index: 1;
    opacity: 0.2;
    background-position-x: 200px;
  }

  /* Add media queries for responsiveness */
  @media (min-width: 640px) {
    .wave#wave1 {
      background-position-x: 600px;
    }
  }

  /* ... Add similar rules for other waves ... */
  @keyframes animate {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(5px);
    }
  }
}
